{% extends 'emails/layout' %}

{% block header %}Account Aangemaakt! Stel je wachtwoord in
{% endblock %}

{% block content %}
	<h2>Hallo
		{{ user.name }},</h2>
	<p>We hebben een account voor je aangemaakt op {{ settings.application_name }}.</p>
  <p>Stel je wachtwoord in om te beginnen.</p>
{% endblock %}

{% block action_url %}
	{{ settings.application_url }}/reset-password/{{ token }}
{% endblock %}
{% block action_text %}
	Wachtwoord Instellen
{% endblock %}
