{% extends 'emails/layout' %}

{% block header %}Herstel je wachtwoord
{% endblock %}

{% block content %}
	<h2>Hallo
		{{ user.name }},</h2>
	<p>We hebben een verzoek ontvangen om je wachtwoord te herstellen.</p>
	<p>Gebruik de onderstaande link om je wachtwoord te herstellen en weer toegang te krijgen tot je account.</p>
	<p>
		<small>Heb je geen wachtwoordherstel aangevraagd? Negeer dan deze e-mail.</small>
	</p>
{% endblock %}

{% block action_url %}
	{{ settings.application_url }}/reset-password/{{ token }}
{% endblock %}
{% block action_text %}
	Wachtwoord Herstellen
{% endblock %}
