{% extends 'emails/layout' %}

{% block header %}Gedeelde Bestanden Gedownload
{% endblock %}

{% block content %}
	<h2>Hallo
		{{ share.user.name }},</h2>
	<p>We wilden je laten weten dat je gedeelde bestanden "{{ share.name }}" zijn gedownload.</p>
	<p>
		<small>We sturen dit bericht alleen de eerste keer dat een gedeeld bestand wordt gedownload.</small>
	</p>
{% endblock %}

{% block action_url %}
	{{ settings.application_url }}/shares/{{ share.long_id }}
{% endblock %}
{% block action_text %}
	Bekijk Gedeelde Bestanden
{% endblock %}
